---
const { images } = Astro.props;
---

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">
    {
      images.slice(0, 2).map((image) => (
        <div>
          <img class="h-auto max-w-full rounded-lg" src={image} alt="" />
        </div>
      ))
    }
  </div>
  <div class="grid gap-4">
    {
      images.slice(2, 4).map((image) => (
        <div>
          <img class="h-auto max-w-full rounded-lg" src={image} alt="" />
        </div>
      ))
    }
  </div>
  <div class="grid gap-4">
    {
      images.slice(4, 6).map((image) => (
        <div>
          <img class="h-auto max-w-full rounded-lg" src={image} alt="" />
        </div>
      ))
    }
  </div>
  <div class="grid gap-4">
    {
      images.slice(6, 8).map((image) => (
        <div>
          <img class="h-auto max-w-full rounded-lg" src={image} alt="" />
        </div>
      ))
    }
  </div>
</div>
