---
const { images } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {
    images.map((image) => (
        <img
          class="rounded-lg inset-0 w-full h-full object-cover object-top"
          src={image}
          alt="Imagen de galería"
        />
    ))
  }
</div>
