---
import AboutMe from '../components/AboutMe.astro';
import BlogSection from '../components/blog_section/BlogSection.astro';
import ProjectsSection from '../components/projects_section/ProjectsSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<AboutMe/>
		<BlogSection/>
		<ProjectsSection/>
	</main>
</Layout>

