---
import AboutMe from '../components/AboutMe.astro';
import BlogSection from '../components/blog_section/BlogSection.astro';
import ProjectsSection from '../components/projects_section/ProjectsSection.astro';
import Layout from '../layouts/Layout.astro';

const description = `Johan Lozano is a front-end developer and co-founder of Zalee, he loves creating, writig ocassionally and learning nre technologies.`
---

<Layout title="Johan Lozano" description={description}>
	<main>
		<AboutMe/>
		<BlogSection/>
		<ProjectsSection/>
	</main>
</Layout>

