---
import Icon from "astro-icon";
import FlipCard from "./FlipCard.astro";
import Section from "./Section.astro";

const cards = [
  {
    image: "/images/speaker.jpg",
    title: "Emprendedor",
    description:
      "Creo soluciones de software para ayudar a las personas a resolver problemas y mejorar su vida.",
    color:
      "bg-gradient-to-r from-red-600 to-pink-500 hover:scale-110 transition-all rounded-full",
  },
  {
    image: "/images/speaker2.jpg",
    title: "Speaker",
    description: "Me gusta compartir mi conocimiento en ciencia y tecnología.",
    color:
      "bg-gradient-to-r from-cyan-500 to-blue-500 hover:scale-110 transition-all rounded-full",
  },
  {
    image: "/images/developer.jpg",
    title: "Desarrollador",
    description: "Me encanta programar, sobre todo en Python, JS y Dart.",
    color:
      "bg-gradient-to-r from-green-400 to-emerald-500 hover:scale-110 transition-all rounded-full",
  },
  {
    image: "/images/student.jpg",
    title: "Estudiante",
    description: "Estudio ingeniería de sistemas y física en la UNAL.",
    color:
      "bg-gradient-to-r from-orange-500 to-amber-500 hover:scale-110 transition-all rounded-full",
  },
  {
    image: "/images/yo.jpg",
    title: "Yo",
    description: "¿Que esperas para charlar un rato? Escríbeme ;)",
    color:
      "bg-gradient-to-r from-red-500 to-rose-500 hover:scale-110 transition-all rounded-full",
  },
];
---

<Section title="Acerca de mí" addons="mt-32" titleMargin="mt-12 sm:mt-16 mb-4">
  <div class="flex overflow-x-scroll overflow-y-hidden gap-8 w-full pb-8 mb-12">
    {cards.map((card) => <FlipCard info={card} />)}
  </div>
  <section
    class="pb-16 px-4 bg-gradient-to-b from-transparent to-[#000810] flex flex-col items-center"
  >
    <p class="text-gray-400 max-w-2xl mx-auto text-xl mb-10 font-light">
      ¿Tienes una idea interesante? ¿Quieres colaborar en un proyecto? ¿O
      simplemente quieres charlar sobre tecnología? No dudes en contactarme.
    </p>
    <div
      class="bg-gradient-to-r from-purple-500 to-blue-500 hover:scale-110 transition-all rounded-full"
    >
      <div
        class="flex justify-center items-center gap-3 px-3 py-4 bg-gradient-to-r from-black/[0.45] via-black/30 to-black/[0.45] m-[3px] w-56 rounded-full"
      >
        <Icon name="ph:whatsapp-logo-duotone" size={24} />

        <a href="https://wa.me/573142968931" target="_blank">
          <span class="text-md font-semibold"> Envíame un mensaje </span>
        </a>
      </div>
    </div>
  </section>
</Section>
