---
import { Image } from "astro:assets";
import Section from "./Section.astro";
import me from "../../public/images/yo.jpg";
---

<Section addons="flex flex-col h-[34rem] mt-14 items-center justify-around ">
    <div>
        <h1
            class="text-5xl font-[1100] mt-14 pb-11 md:text-6xl/[1.1] lg:text-8xl/[1.1]
                before:absolute before:-z-10 before:w-full before:top-[80px] before:h-[120vh] before:right-0"
        >
            Johan Lozano
        </h1>
        <h2 class="text-3xl text-gray-400">
            I’m a front-end developer and co-founder of <u
                ><a class="text-yellow-400" href="https://zaleeapp.com">Zalee</a></u
            >. I love <u><a class="text-yellow-400" href="https://github.com/LozanoJohan">creating</a></u>
            and <u> <a class="text-yellow-400" href="#blog">learning</a></u>.
        </h2>
    </div>
    <Image
        class="w-96 sm:w-96 h-96 object-cover my-10 border-2 border-white"
        src={me}
        alt="a happy person"
    />
</Section>

<style>
    h1::before {
        background: radial-gradient(
                rgba(0, 41, 108, 0.423),
                rgba(0, 0, 0, 0.9) 90%
            ),
            linear-gradient(to right, #9412da, #00488c);
        -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);
    }
</style>
