<aside
    class="hover:rotate-180 transition-all flex flex-col fixed right-0 top-1/2 w-16 h-16 rounded-full bg-slate-50 content-center justify-center items-center mr-2 -translate-y-1/2"
>   
    <div class="relative before:absolute before:bg-black before:w-96 before:h-50"></div>
    <div
        class="relative top-1/2 bg-black transition-all
        before:absolute before:bg-[url('/src/icons/instagram.svg')] before:w-14 before:h-14 before:left-10"
    >
    </div>
    <div
        class="relative top-1/2 bg-black transition-all
        before:absolute before:bg-[url('/src/icons/instagram.svg')] before:w-14 before:h-14 before:left-10"
    >
    </div>
    <div
        class="relative top-1/2 bg-black transition-all
        before:absolute before:bg-[url('/src/icons/instagram.svg')] before:w-14 before:h-14 before:left-10"
    >
    </div>
    <div
        class="relative top-1/2 bg-black transition-all
        before:absolute before:bg-[url('/src/icons/instagram.svg')] before:w-14 before:h-14 before:left-10"
    >
    </div>
    <img
        class=""
        width="50"
        height="50"
        src="https://img.icons8.com/material/24/pokeball--v1.png"
        alt="pokeball--v1"
    />
</aside>

<script>
    const aside = document.querySelector('aside');
    const divs = aside.querySelectorAll('div')
    aside.addEventListener('click', () => divs.forEach((div, i) => div.classList.toggle(`rotate-[${(i+1)*15}deg]`)))
</script>
