---
import PostCard from "./PostCard.astro";
import Section from "../Section.astro";
const posts = [
    {
        title: "Post1",
        img: "https://platinumlist.net/guide/wp-content/uploads/2023/03/IMG-worlds-of-adventure.webp",
        date:
            '18/09/2023',
    },
    {
        title: "Post2",
        img: "https://platinumlist.net/guide/wp-content/uploads/2023/03/IMG-worlds-of-adventure.webp",
        date:
            '18/09/2023',
    },
    {
        title: "Post3",
        img: "https://platinumlist.net/guide/wp-content/uploads/2023/03/IMG-worlds-of-adventure.webp",
        date:
            '18/09/2023',
    },
    {
        title: "Post3",
        img: "https://platinumlist.net/guide/wp-content/uploads/2023/03/IMG-worlds-of-adventure.webp",
        date:
            '18/09/2023',
    },
];
---

<Section addons="blog-section relative min-h-min mt-20 md:mt-48" title="Check my blog">
    <div class="flex flex-wrap justify-around ">
        {
            posts.map((post) => (
                <PostCard
                    title={post.title}
                    img={post.img}
                    date={post.date}
                />
            ))
        }
    </div>
</Section>
