---
const { title, img, date } = Astro.props;
---

<article
    class="bg-gray-900 h-72 w-full shadow-xl shadow-black border-gray-600 border-[1px] hover:scale-105 transition-all"
>
    <img src={img} alt={title} class="h-1/2 w-full object-cover" />
    <div class="p-4 text-left">
        <h3 class="text-3xl">{title}</h3>
        <p>{date}</p>
    </div>
</article>
