---
import Logo from './Logo.astro'
---

<nav class="bg-black/[.7] text-white flex justify-between h-20 shadow-2xl border-gray-700 border-b-[1px] items-center p-10 ">
    <Logo/>
    <ul>
        <li class="text-lg hover:text-gray-500 transition-all cursor-pointer">
            Blog
        </li>
    </ul>
</nav>