---
import jl from "../../icons/jl_big.svg";
import { Image } from "astro:assets";
---

<nav
    class="bg-[#000810] relative text-white  h-20 shadow-2xl border-white border-b-[1px]  py-10 px-5
    before:absolute before:w-full before:h-full before:right-0 before:-z-10"
>
    <div class="w-full max-w-screen-xl flex justify-between items-center h-full mx-auto">
        <a href="/"><Image src={jl} width={60} alt="Un logo increíble" /></a>
        <ul class="flex">
            <li
                class="text-2xl hover:text-gray-500 transition-all cursor-pointer"
            >
                <h2><a href="/#blog">Blog</a></h2>
            </li>
            <li
                class="text-2xl hover:text-gray-500 transition-all cursor-pointer contact ml-4"
            >
                <h2>Contact</h2>
            </li>
        </ul>
    </div>
</nav>
<script>
    document
        .querySelector(".contact")
        .addEventListener("click", () =>
            window.scrollTo(0, document.body.scrollHeight),
        );
</script>
