---
import jl from "../../icons/jl_big.svg";
import Icon from "astro-icon";
import { Image } from "astro:assets";
import ContactIcons from "./ContactIcons.astro";
---

<nav class="relative w-full z-50">
  <div class="absolute w-full">
    <div class="fixed top-0 w-full backdrop-blur-xl bg-black/30">
      <div
        class="w-full max-w-screen-xl flex flex-col md:flex-row justify-between items-center mx-auto sticky top-0 text-white h-auto md:h-20 py-5 md:py-10 px-5"
      >
        <div class="w-full md:w-auto flex items-center justify-between">
          <div class="flex items-center gap-4">
            <a href="/" class="text-xl md:text-2xl font-semibold"
              >Johan Lozano</a
            >
          </div>

          <button id="menu-toggle" class="md:hidden text-white">
            <Icon name="ph:list-bold" size={30} />
          </button>
        </div>

        <ul
          id="menu"
          class="hidden pt-5 md:pt-0 md:flex flex-col md:flex-row gap-4 md:gap-6 text-center w-full md:w-auto items-center"
        >
          <li
            class="text-lg md:text-xl text-gray-300 hover:text-gray-400 transition-all cursor-pointer"
          >
            <a href="/trayectory">Trayectoria</a>
          </li>
          <li
            class="text-lg md:text-xl text-gray-300 hover:text-gray-400 transition-all cursor-pointer"
          >
            <a href="/blog">Blog</a>
          </li>
          <div class="block md:hidden">
            <ContactIcons />
          </div>
        </ul>
        <div class="hidden md:block">
          <ContactIcons />
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const menu = document.getElementById("menu");

  menuToggle?.addEventListener("click", () => {
    menu?.classList.toggle("hidden");
    menu?.classList.toggle("flex");
  });
</script>
