---
import jl from "../../icons/jl_big.svg";
import { Image } from 'astro:assets';
---

<nav
    class="bg-black/[.8] relative text-white flex justify-between h-20 shadow-2xl border-white border-b-[1px] items-center py-10 px-5 
    before:bg-gradient-to-r from-indigo-900/75 via-teal-800/75 to-emerald-800/75
    before:absolute before:w-full before:h-full before:right-0 before:-z-10"
>
    <a href="/"><Image src={jl} width={60} alt="Un logo increíble"/></a>
    <ul class="flex">
        <li class="text-2xl hover:text-gray-500 transition-all cursor-pointer">
            <h2>Blog</h2> 
        </li>
        <li class="text-2xl hover:text-gray-500 transition-all cursor-pointer contact ml-4">
            <h2>Contact</h2> 
        </li>
    </ul>
</nav>
<script>
    document.querySelector('.contact').addEventListener('click', () => window.scrollTo(0, document.body.scrollHeight))
</script>